// Top Menu
// .home #top-header {
//     @include media-breakpoint-up(xl) {
//         background-color: rgba(0, 0, 0, .2);

//         .top-header-menu {
//             border-bottom: 1px solid rgba(255, 255, 255, .1);
//         }
//     }
// }

// #top-header {
//     background-color: #232323;
// }


@include media-breakpoint-down(md) {
    .navbar-collapse {
        max-height: calc(100vh - 60px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}

// Tom menu with sticky

.home #top-header {
    &.sticky {
        @include media-breakpoint-up(xl) {
            background-color: rgba(0, 0, 0, .6);
        }
    }
}


#top-header {
    .navbar-address {
        @media screen and (min-width: 1700px) {
            font-size: 18px;
        }
    }

    &.sticky {

        transition: 0.3s ease-in-out;

        @include media-breakpoint-up(xl) {
            margin-top: 0;

            .top-header-menu {
                max-width: 100%;
                transition: 0.3s ease-in-out;
                // background-color: #fff;
                // box-shadow: 0 0 16px rgba(50, 50, 50, 0.2);
                position: relative;
            }

            .navbar-brand {
                &.top-logo {
                    img {
                        width: 75px;
                    }
                }
            }
        }

        .navbar-nav {
            >li {
                >a {
                    @include media-breakpoint-up(xl) {
                        // color: #000;
                        font-size: 16px;
                        text-shadow: none;
                        // padding: 0.2rem 0.7rem;
                        // letter-spacing: 0.1em;

                        // &:before {
                        //     top: 45px;
                        // }
                    }
                }
            }
        }
    }
}

.navbar-brand {
    &.top-logo {
        img {
            width: 120px;
            transition: 0.3s ease-in-out;

            @include media-breakpoint-up(xl) {
                width: 75px;
            }
        }

        .slogan {
            letter-spacing: 2px;
            font-size: 18px;
        }
    }
}

.top-phone {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#top-header {
    transition: 0.3s ease-in-out;

    .navbar-nav {
        >li {
            >a {
                color: #000;
                text-transform: uppercase;
                z-index: 0;

                @include media-breakpoint-up(xl) {
                    font-size: 16px;
                    font-weight: 600;
                    position: relative;
                    padding: 1.6rem 0.7rem 1.2rem 0.7rem;

                    &:not(.wpmenucart-contents) {
                        &::before {
                            display: inline-block;
                            content: '';
                            height: 45%;
                            width: 0;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            background-color: $orange;
                            transition: 0.3s ease-in-out;
                            z-index: -1;
                            transform: translateY(-45%) skew(-23deg, 0deg);
                        }
                    }
                }

                padding: 0.5rem 0.7rem;
                margin: 0 10px;
                font-size: 1.2rem;
                // font-weight: 600;
                text-align: center;

                &:hover {
                    color: #fff;

                    &:before {
                        width: 100%;
                    }
                }

                &.active {
                    color: #fff;

                    &:before {
                        width: 100%;
                    }
                }

                @include media-breakpoint-down(xl) {
                    border-bottom: 1px solid #444;
                    padding: 0.6rem 0.7rem;
                }
            }

        }
    }

    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }
    }
}

.navbar-nav {
    .dropdown {
        .dropdown-toggle {
            position: relative;

            &:after {
                border-right: none;
                border-left: none;
                border-top: none;
                content: "\f107";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                position: absolute;
                top: 8px;
                transition: 0.5s;

                @include media-breakpoint-up(lg) {
                    display: none;
                }

            }

            &.show {
                &:after {
                    transition: 0.5s;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .dropdown {
        .dropdown-submenu {
            top: 0;
            left: 100%;
            //margin-left: 0.125rem;
            margin-top: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    .navbar-nav {
        li {
            &:hover> {
                ul.dropdown-menu {
                    display: block;
                }
            }
        }
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        animation: growOut .3s ease-in-out forwards;
    }
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    background: #232323;

    @include media-breakpoint-up(xl) {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    }

    &.depth_1 {
        background: #fff;
    }

    min-width: 13rem;
    border: none;

    .menu-item {
        border-bottom: 1px solid #444;
        background-color: transparent;

        &:last-child {
            border: none;
        }
    }

    .dropdown-item {
        padding: 0.6rem 1rem 0.7rem 1.5rem;

        @include media-breakpoint-up(xl) {
            padding: .5rem .5rem .5rem 1.5rem;
        }

        font-size: 1rem;
        transition: 0.3s ease-in-out;
        color: #fff;

        @include media-breakpoint-up(xl) {
            &:hover {
                padding-left: 2rem;
            }
        }

        &:before {
            font-family: FontAwesome;
            content: "\f105";
            font-style: normal;
            font-weight: normal;
            position: absolute;
            left: 12px;
            color: $orange;
        }

        &:hover {
            background-color: $orange;
            color: #fff;

            &:before {
                color: #fff;
            }
        }

        &.active {
            background-color: $orange;
            color: #fff;
        }
    }
}

// Category top
.page-header-top {
    height: 290px;

    @include media-breakpoint-up(xl) {
        height: 430px;
    }

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title-brand {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    }
}

// Footer-widget
.footer-widgets {
    background-color: #131212;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &__logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__bottom-desc {
        color: #9e9e9e;
        font-size: 14px;

        .bottom-fb-link {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid $orange;
            font-size: 18px;
        }

        a {
            color: #9e9e9e;
        }
    }

    &__space-border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__background {
        opacity: .1;
        bottom: -80px;
        right: -190px;
        position: absolute;
        z-index: -1;
        transform: rotate(-45deg);
    }
}

.site-footer {
    background-color: #131212;
}

.banner-contact {
    @include media-breakpoint-up(xl) {
        margin-top: -60px;
    }
}

.copyright-box {
    background-color: #000;

    p {
        color: #434343;
    }

    border-bottom: 6px solid $orange;
}

.bottom-nav-menu {
    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            a {
                color: #9e9e9e;
                position: relative;
                text-decoration: none;
                font-size: 13px;
                display: block;
                padding: 10px 0 10px 35px;
                font-weight: 300;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                font-weight: 600;

                &:before {
                    content: "\f105";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    color: $orange;
                    position: absolute;
                    left: 15px;
                    font-size: 17px;
                    height: 20px;
                    top: 9px;
                    line-height: 20px;
                }

            }

            &:last-child {
                a {
                    border-bottom: none;
                }
            }
        }
    }
}

//pagination
.pagination {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin: 40px 0;
    font-size: 1.15em;

    .page-numbers {
        color: rgba(black, 0.65);
        display: inline-block;
        margin: 0 5px;

        &.current {
            color: black;
            text-decoration: underline;
        }
    }
}

// Error 404
.error404 {
    position: relative;
    z-index: 0;
}

.error404:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('/wp-content/uploads/2023/05/alumi-oferta-paralax-2-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    opacity: .5;
    z-index: -1;
}

//Qookie
.cookie-warn {
    box-sizing: border-box;
    z-index: 99999;
    overflow: hidden;
    color: #444;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: none;

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__left-side {
        font-size: 12px;
    }

    &__right-side {
        font-size: 14px;
    }

    &__close-cookie-info {
        background: #e21927;
        color: #fff;
        border: 0;
        padding: 6px 9px;
        border-radius: 3px;
        margin: 0 0 0 20px;
        text-decoration: none !important;
    }
}

.contact-info {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        line-height: 35px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 14px;
        letter-spacing: .5px;

        &:last-child {
            border: none;
        }

        a {
            text-decoration: none;
        }
    }
}

// Top background pages
.top-section-offer {
    height: 290px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include media-breakpoint-up(xl) {
        height: 500px;
    }

    &:before {
        background-image: linear-gradient(to right top, #141823, #1b202d, #222736, #293041, #30384b);
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0.5;
    }

    &__icon-logo {
        filter: brightness(0) invert(1);
        opacity: .6;
    }
}

// Slider offer Gallery
.slider-gallery {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url('/wp-content/uploads/2023/05/alumi-oferta-paralax-2-min.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: grayscale(1);
        opacity: .5;
    }
}

#slider-offer {
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, .5));
}

.social-box-links {
    position: relative;
    z-index: 0;

    &::before {
        display: inline-block;
        content: "";
        width: 100%;
        height: 101%;
        position: absolute;
        left: 50%;
        background: #fff;
        z-index: -1;
        transform: translateX(-50%) skew(-23deg, 0deg);
        top: 0px;
    }
}

.main-hero {
    @include media-breakpoint-up(xl) {
        &:before {
            display: inline-block;
            height: 30%;
            width: 100%;
            position: absolute;
            top: 0;
            background: rgb(9, 9, 121);
            background: linear-gradient(360deg, rgba(9, 9, 121, 0) 0%, rgba(1, 67, 117, 1) 100%);
            content: '';
            z-index: 9;
        }
    }
}

.home .fixed-lg-top {
    @include media-breakpoint-up(xl) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

// Header defeault
.header-image-defeault {
    position: relative;
    z-index: 0;

    @include media-breakpoint-up(xl) {
        min-height: 350px;
    }

    min-height: 250px;
    background-image: url('/wp-content/uploads/2024/10/top-header-img-bg-min.jpg');
    background-size: cover;
    background-position: center;

    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #121212;
        opacity: .86;
        mix-blend-mode: darken;
        transition: background .3s, border-radius .3s, opacity .3s;
        content: "";
        z-index: -1;
    }
}

.page-id-70 {
    .header-image-defeault {
        background-image: url('/wp-content/uploads/2024/10/klimatyzacja-top-bg-min.jpg');
    }
}

.page-id-66 {
    .header-image-defeault {
        background-image: url('/wp-content/uploads/2024/10/alternator-top-bg-min.jpg');
    }
}

//breadcrumbs
.breadcrumbs {
    color: $orange;

    a {
        color: #fff;
    }

    .breadcrumb_last {
        color: $orange;
    }
}

//Pages default
.page-template-template-defeault,
.page-template-template-defeault-product,
.page-template-template-contact {
    background-color: #232323;
}

//Page alternatory
.failure-alternator {
    background: #efefef;

    &__item {
        background-color: rgba(0, 0, 0, .1);
        clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
        overflow: hidden;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background: #efefef;
            clip-path: polygon(14px 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 14px);
            z-index: -1;
            transition: .2s cubic-bezier(0.24, 0.74, 0.58, 1);
        }
    }

    &__item-title {
        font-size: 22px;
    }

    &__point {
        background-color: #f47729;
        clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
        overflow: hidden;
        position: relative;
        display: inline-block;

        &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background: $orange;
            clip-path: polygon(14px 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 14px);
            z-index: -1;
            transition: .2s cubic-bezier(0.24, 0.74, 0.58, 1);
        }
    }
}

// Box style orange 
.box-style-orange {
    background-color: #f47729;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background: #232323;
        clip-path: polygon(14px 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 14px);
        z-index: -1;
        transition: .2s cubic-bezier(0.24, 0.74, 0.58, 1);
    }
}

.box-style-dark {
    background-color: #121212;
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
    overflow: hidden;
    position: relative;
}

//Icon logo lightning
.subtitle-counter-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
}

// Pulse animation
.pulse-animation {
    .video-btn {
        position: absolute;
        text-align: center;
        box-shadow: 0 12px 24px 0 rgba(228, 6, 19, .5);
        border-radius: 50%;
        background: #f47729;
        color: #fff;
        z-index: 1;

        &:before {
            content: '';
            height: 150%;
            width: 150%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            z-index: -1;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 110%;
            width: 110%;
            line-height: 110px;
            background: #f47729;
            border-radius: 50%;
            z-index: -1;
            animation: pulse-border 1500ms ease-out infinite;
        }
    }

    &--sm {
        .video-btn {
            height: 35px;
            width: 35px;
            line-height: 35px;
            font-size: 15px;
        }
    }

    &--lg {
        .video-btn {
            height: 65px;
            width: 65px;
            line-height: 65px;
            font-size: 20px;
        }
    }

    &--center {
        .video-btn {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--top-left {
        .video-btn {
            left: 10%;
            top: 10%;
        }
    }
}

.fa-play {
    &:before {
        content: "\f04b";
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        opacity: 0
    }
}

.lighten {
    animation: lighten 2s linear infinite;
}

@keyframes lighten {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: #fff;
    }
}